<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resultado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row style="background-color: #28bb50; font-weight: bold;">
      <ion-col>Receita</ion-col>
      <ion-col>Despesa</ion-col>
      <ion-col>Resultado</ion-col>
    </ion-row>
    <ion-row *ngFor="let receita of receitas" >
      <ion-col>{{ receita.valor  | currency:'BRL'}}</ion-col>
      <ion-col ></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngFor="let despesa of despesas">
      <ion-col></ion-col>
      <ion-col>{{ despesa.valor  | currency:'BRL'}}</ion-col>
      <ion-col></ion-col>      
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col [style.color]="calcSaldo() >= 0 ? 'green' : 'red'">
        {{calcSaldo() | currency:'BRL'}}
      </ion-col>      
    </ion-row>

   </ion-grid>
</ion-content>
<ion-footer>App criado pelo AnderShow</ion-footer>